{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
            {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <div class="post">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|safe|linebreaks }}</p>
        {% if post.published_date %}
            <div class="author_and_date">
                <br><p>Yazar: {{post.author}}  <small> | {{ post.published_date }}</small></p>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <br>
        <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">Öyle demek istemedim</a>
        <a class="btn btn-danger" href="{% url 'post_delete' pk=post.pk %}">Bunu ben söylemiş olamam</a>

        {% endif %}
    </div>

    <br><hr>

    <div class="comments">
        <h3>Başkaları ne demiş?</h3>
        <br>
        
        {% if not post.comments.all %}
            <p> Buralar çok sessiz... </p>

        {% else %}

            {% for comment in post.comments.all %}
            
            <h5> {{comment.title}}  <small> ~ {{request.user}} | <small>{{comment.created_date|timesince}} ago </small> </small> </h4>
            <p> {{comment.text}} </p>

            {% endfor %}
        {% endif %}

    </div>

    <br><hr>

    <div class="add_comment">
        <h3>Yorum ekle:</h3>
        <form method = "POST">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-secondary" value="Ben de konuşcam">
        </form>
    
    </div>

{% endblock %}