/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HOME */
$secondcolor : rgb(38, 105, 102);
$thirdcolor : rgb(38, 105, 102);
$animationborder :linear-gradient(to right, rgb(38, 105, 102) 100%, rgb(38, 105, 102) 100%);

.background-wrapper{
    background-image: linear-gradient(to right, #aaaaaa 0%, #e2e2e2 100%);
    height: 100vh;
    overflow: hidden;

    .grid-wrapper{
        width: 150vw;
        transform-origin: center;
        transform: translateY(-141vh) translateX(-25vw) rotateZ(45deg) ;
        
        .grid-wrapper-topspace,.grid-wrapper-bottomspace{
            border-bottom: 3px solid $thirdcolor;
            border-top: 3px solid $thirdcolor;
            height: 150%;
            transition: background-color 0.8s ease-in;
            transform:translateX(2000px); //gsap            
        }
        .grid-wrapper-bottomspace{
            transform:translateX(-2000px); //gsap            
        }
        .grid-wrapper-middle{
            margin: 12vh 0;
            display: flex;
            justify-content: center;
            .grid-wrapper-leftspace,.grid-wrapper-rightspace{
                flex: 1;
                transition: background-color 0.8s ease-in;

                // Border Animation //
                background-repeat: no-repeat;
                background-image:   $animationborder,$animationborder,$animationborder,$animationborder;
                background-size:    0 0,
                                    0 0,
                                    0 0,
                                    0 0;
                background-position:    0 100%,
                                        100% 100%,
                                        100% 0,
                                        0 0;
                animation: bg 1.2s cubic-bezier(0.19, 1, 0.22, 1) 1;
                animation-fill-mode: forwards;
                animation-delay: 1.4s;
            }
            .grid-wrapper-rightspace{
                animation-delay: 0.8s;
            }
            //////////////////////////////////
            .grid-wrapper-center{
                margin: 0 12.4vh;
                .grid-items-wrapper{
                    justify-content: center;
                    flex: 1;
                    display: grid;
                    grid-auto-rows: 8.5vh;
                    grid-auto-columns: 8.5vh;
                    grid-gap: 10px;
                    transform-origin: center;
                    
                    .grid-item{
                        overflow: hidden;
                        font-family: 'Comfortaa';
                        color:rgb(48, 48, 48);
                    }
                    .blog{
                        grid-column: 1 / 3;
                        grid-row: 1 / 5;
                        border: 3px solid $thirdcolor;
                        background-size: cover;
                        opacity: 0;
                        transition: background-color 0.8s ease-in;

                        .blog-items{
                            pointer-events: none;
                            .blog-title{
                                transform-origin: center;
                                transform:  translateY(16vh) rotateZ(-90deg);
                                text-align: center;
                                pointer-events: none;
                                font-size: 1.5rem;

                            }
                        }
            
                    }
                    .weather{
                        grid-column: 3 / 7;
                        grid-row: 1 / 3;
                        border: 3px solid $thirdcolor;
                        opacity: 0;
                        transition: background-color 0.8s ease-in;

                        .weather-items{
                            pointer-events: none;
                            .weather-title{
                                text-align: center;
                                transform: translateY(110%);
                                pointer-events: none;
                                font-size: 1.5rem;
                            }
                        }
                    }
                    .tools{
                        grid-column: 3 / 5;
                        grid-row:  3 / 5;
                        transform: rotateZ(-45deg);
                        
            
                        .tools-items{
                            .tools-title{
                                text-align: center;
                                font-family: 'Metal Mania';
                                font-weight: 300;
                                font-size: 3rem;
                                position: relative;
                                top: 20px;
                                opacity: 0;

                            }
                            .by{
                                font-weight: 300;
                                font-family: 'Satisfy';
                                text-align: center;
                                font-size: 1rem;
                                position: relative;
                                top: 8px;
                                opacity: 0;

                            }
                            .parvifolia{
                                font-weight: 300;
                                font-family: 'Satisfy';
                                text-align: center;
                                font-size: 1rem;
                                position: relative;
                                top: 8px;
                                opacity: 0;

                            }
                        }
                        
                    }
                    .chat{
                        grid-column: 5 / 7;
                        grid-row: 3 / 7;
                        border: 3px solid $thirdcolor;
                        opacity: 0;
                        transition: background-color 0.8s ease-in;


                        .chat-items{
                            pointer-events: none;
                            .chat-title{
                                transform-origin: center;
                                transform:  translateY(16vh) translateX(-5vh) rotateZ(-90deg);
                                text-align: center;
                                min-width: max-content;
                                pointer-events: none;
                                font-size: 1.5rem;

                            }
                        }
                    }
                    .todo{
                        grid-column: 1 / 5;
                        grid-row: 5 / 7;
                        border: 3px solid $thirdcolor;   
                        opacity: 0;
                        transition: background-color 0.8s ease-in;

         
                        .todo-items{
                            pointer-events: none;
                            .todo-title{
                                text-align: center;
                                transform: translateY(110%);
                                pointer-events: none;
                                font-size: 1.5rem;

                            }
                        }
                    }
                }
            }
        }
    }
}


// Border animation
@keyframes bg {

    0% {
        background-size:    0 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    25% {
        background-size:    100% 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    50% {
        background-size:    100% 3px,
                            3px 100%,
                            0 3px,
                            3px 0;
    }
    75% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 0;
    }
    100% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
    }
}